data
__pycache__
dataset_seg_raw
test_seg
sam_b.pt
yolo11n.pt
yolo11n-seg.pt
models
logs
*.pyc
*/runs*
venv
.vscode
config.yaml
dataset
mae/reconstructions
mae/segmentation_visuals
mae/mae_checkpoints
mae/segmentation_checkpoints
models
PennFudanPed