data
__pycache__
dataset_seg_raw
test_seg
*.pt
*.pth
models
logs
*.pyc
*/runs*
venv
.vscode
config.yaml
dataset
mae/reconstructions
mae/segmentation_visuals
mae/mae_checkpoints
mae/segmentation_checkpoints
PennFudanPed
runs